<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41636494726-u1r2h4mc5lavtjoj1sppascmj78u87fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41636494726-u1r2h4mc5lavtjoj1sppascmj78u87fl</string>
	<key>API_KEY</key>
	<string>AIzaSyAzvg0sXFXSAVZOcxqxs_06eYZSOsf-vX0</string>
	<key>GCM_SENDER_ID</key>
	<string>41636494726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.iit.Food-Advisor</string>
	<key>PROJECT_ID</key>
	<string>food-advisor-c95e4</string>
	<key>STORAGE_BUCKET</key>
	<string>food-advisor-c95e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41636494726:ios:ca33c7080d79cd91d90007</string>
</dict>
</plist>